* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #333;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.25rem;
}

h1 {
  padding: 10px;
}

p {
  padding: 10px;
  margin-bottom: 10px;
}

.textarea_wrappers {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  height: 40.625rem;
}

.input_wrapper,
.output_wrapper {
  width: 100%;
  margin-bottom: 0.625rem;
}

textarea {
  width: 100%;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  resize: none;
  color: white;
}

.output_wrapper {
  position: relative;
  background-color: #333;
}
.output {
  height: 100%;
  background-color: #1a1a1a;
}

.copyBtn {
  position: absolute;
  bottom: 10;
  padding: 0.625rem 1.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 1.25rem;
}

@media (min-width: 48rem) {
  .textarea_wrappers {
    flex-direction: row;
  }
  .input_wrapper {
    margin-right: 0.625rem;

    background-color: #333;
  }
}

@media (max-width: 47.9375rem) {
  .textarea_wrappers {
    flex-direction: column;
  }
  .input_wrapper {
    height: 100%;
    background-color: #333;
  }

  .output_wrapper {
    height: 100%;
  }
}
